@font-face {
    font-family: 'event-icons';
    src:url('../fonts/event-icons.eot?-omlhpr');
    src:url('../fonts/event-icons.eot?#iefix-omlhpr') format('embedded-opentype'),
    url('../fonts/event-icons.woff?-omlhpr') format('woff'),
    url('../fonts/event-icons.ttf?-omlhpr') format('truetype'),
    url('../fonts/event-icons.svg?-omlhpr#event-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ico-event-"], [class*=" ico-event-"] {
    font-family: 'event-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-event-location:before {
    content: "\e700";
}
.ico-event-clock:before {
    content: "\e701";
}
.ico-event-calendar:before {
    content: "\e702";
}
