@font-face {
    font-family: 'oupf_icons';
    src:url('../fonts/oupf_icons.eot?p6bti0');
    src:url('../fonts/oupf_icons.eot?#iefixp6bti0') format('embedded-opentype'),
    url('../fonts/oupf_icons.woff?p6bti0') format('woff'),
    url('../fonts/oupf_icons.ttf?p6bti0') format('truetype'),
    url('../fonts/oupf_icons.svg?p6bti0#oupf_icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'oupf_icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-oupf_blog:before {
    content: "\e60f";
}
.icon-oupf_natural_science:before {
    content: "\e610";
}
.icon-oupf_people_2:before {
    content: "\e611";
}
.icon-oupf_people:before {
    content: "\e612";
}
.icon-oupf_project:before {
    content: "\e613";
}
.icon-antarctic:before {
    content: "\e600";
}
.icon-arctic_antarctic:before {
    content: "\e601";
}
.icon-arctic:before {
    content: "\e602";
}
.icon-natural_sciences:before {
    content: "\e603";
}
.icon-oupf_small:before {
    content: "\e604";
}
.icon-oupf:before {
    content: "\e605";
}
.icon-people_2:before {
    content: "\e606";
}
.icon-people:before {
    content: "\e607";
}
.icon-social_sciences:before {
    content: "\e608";
}
.icon-folder-open:before {
    content: "\f07c";
}
.icon-filter:before {
    content: "\f0b0";
}
.icon-link:before {
    content: "\e60d";
}
.icon-news:before {
    content: "\e60e";
}
.icon-vcard:before {
    content: "\e609";
}
.icon-twitter:before {
    content: "\e60a";
}
.icon-googleplus:before {
    content: "\e60b";
}
.icon-linkedin:before {
    content: "\e60c";
}
